.register_form{
    display: flex;
    justify-content: center;
    
    position: relative;
    margin-top: 6%;
}
.register{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 34rem;
    align-items: center;
    /* border: 3px solid gray; */
    position: absolute;
    border-radius: 10px;

    gap: .5rem;
    box-shadow: 1px -25px 206px 24px rgba(0,0,0,0.45),
25px 0px 20px -20px rgba(0,0,0,0.45),
0px 25px 20px -20px rgba(0,0,0,0.45),
-25px 0px 20px -20px rgba(0,0,0,0.45);
    
    
}
.register>input{
    width: 80%;
    height: 6%;
    padding:  0.75rem;
    border-radius: 12px;
}


.register>.button{
    background-color: #8D9EFF;
    border: #8D9EFF;
    color: white;
    width: 85%;
    border-radius: 12px;
    height: 8%;
    cursor: pointer;
}